<ion-header>
  <ion-toolbar text-center class = "new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="sfondo_content">
  <!-- Luogo -->
  <ion-card>
      <ion-card-header>
    <ion-card-title>   Dove ti trovi? (*)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea [(ngModel)]="city"  placeholder="Bologna, Milano, Roma ..."></ion-textarea>
      </ion-card-content>
    </ion-card>


<!-- Fascia di prezzo -->
<ion-card>
    <ion-card-header>
      <ion-card-title> Fascia di prezzo </ion-card-title>
    </ion-card-header>
    <ion-card-content>
<ion-item>
<ion-label>Spesa</ion-label>
<ion-select [(ngModel)]="price" value= "no" okText="Conferma" cancelText="Annulla">
  <ion-select-option class ="listButton" value="no">Indifferente</ion-select-option>
  <ion-select-option value="1">$</ion-select-option>
  <ion-select-option value="2">$$</ion-select-option>
  <ion-select-option value="3">$$$</ion-select-option>
  <ion-select-option value="4">$$$$</ion-select-option>
</ion-select>
</ion-item>
</ion-card-content>
</ion-card>

<!-- Caratteristiche -->
<ion-card>
    <ion-card-header>
    <ion-card-title>   Preferenze</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="end" (click)="charMemberSelected(entry)"></ion-checkbox>
  </ion-item>
</ion-list>
</ion-card-content>
</ion-card>

<!-- Giorni di apertura -->

<ion-card>
    <ion-card-header>
    <ion-card-title>  Apertura </ion-card-title>
    </ion-card-header>
    <ion-card-content>

        <ion-col>
        <ion-label class="my-label">Aperto ora</ion-label>
        </ion-col>
        <ion-col>
        <ion-checkbox color="primary" (click)="openNow()"></ion-checkbox>
        </ion-col>
      
</ion-card-content>
</ion-card>

<button ion-button (click)="searchPlaces()">Ricerca</button>


</ion-content>
