<ion-header>
  <ion-toolbar text-center class = "new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="sfondo_content">
  <div id="venuesList"  >
           <ion-list *ngFor="let v of venuesList" class="myList">
             <button ion-item  class = "listButton" (click)="searchVenue(v)">
             {{v.name}}
           </button>
           </ion-list>
       </div>
</ion-content>
