.listButton {
  border-width: thick;
  background-color: #e6ffe6;
  width: 50%;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  box-shadow: 0px 0px;
  border-radius: 0px;
}

.myList {
  background-color: #e6ffe6;
  justify-content: center;
	display: flex;
 	align-items: center;
  width: 50%;
  margin-left: 25%;
}
