<ion-header>
  <ion-toolbar text-center>
    <ion-title color = "success">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Prova
  <div cards>

  <div class="grid-full">
    <ion-row>
      <ion-col *ngFor ="let intent of intentList">
        <ion-card>
          <img class="img" src = "./assets/images/bar_icon.png" (click)="clickedImage(intent)">
          <p>{{intent}}</p>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>

</div>

</ion-content>
