<ion-header>
  <ion-toolbar text-center>
    <ion-title color = "success">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="sfondo_content">
  <div cards>

  <div>
    <ion-row>
      <ion-col *ngFor ="let place of intentList">
        <ion-card>
          <ion-card-content>
          <img class="img" src = "./assets/images/bar_icon.png" (click)="clickedImage(place.intent)">
          <div>{{place.val}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>

</div>

</ion-content>
