<ion-header>
  <ion-toolbar text-center class = "new-background-color">
    <ion-title >
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="sfondo_content">
  <div cards>

  <div>
    <ion-row>
      <ion-col *ngFor ="let place of intentList; let i = index">
        <ion-card>
          <ion-card-content>
          <img class="img" src = "{{photoList[i]}}" (click)="clickedImage(place.intent)">
          <div>{{place.val}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>

</div>

</ion-content>
